<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1FpuiQNAdaZJ-xzxx3SLucERBhWLskvA</string>
	<key>GCM_SENDER_ID</key>
	<string>556581208807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likeminds.feed.suraasa</string>
	<key>PROJECT_ID</key>
	<string>lm-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lm-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556581208807:ios:471df4b3fe3b8a30141842</string>
</dict>
</plist>